spring:
  application:
    name: test-user-service
  
  # WebFlux Configuration
  webflux:
    base-path: /api

server:
  port: 8080

# Logging
logging:
  level:
    root: INFO
    com.pragma.user: DEBUG
    org.springframework.web: DEBUG
    reactor.netty: INFO

# Actuator (optional)
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized
